{% extends 'base.html' %}

{% block content %}
        
    <h1>Administración del Menú {{ person }} {{ weather }}</h1>

    <div class="row">
		<div class="btn btn-primary" style="float: right">
			<a href="{% url 'product' %}" style="color: white">Agregar Producto </a>
		</div>
	</div>
	<div style="margin-top: 40px;">
		<div style="width: 80%; margin: 0 auto; overflow: hidden">
			<table style="width:100%"> 
				<thead> 
					<tr> 
						<th width="200" style= "text-align: center"> ID</th>
						<th style="text-align: center">PRODUCTO</th>
						<th width="150" style= "text-align: center">EDITAR</th>
						<th width="150" style= "text-align: center">Eliminar</th> 
					</tr> 
				</thead> 
				<tbody> 
					<tr> 
					</tr> 
				</tbody> 
			</table>
		</div>
	</div>

{% endblock %}

{% block scripts %}
		<script>
		
			$.ajax({
				url: '/api/menu',
				method: 'GET'
			}).then(function(response){
					
				console.log(response.length);

				for(var i = 0;i < response.length; i++ ){
					$('table tbody').append(
					'<tr>' +
					'<td style="text-align: center">'+response[i].id+'</td>'+
					'<td style="text-align: center">'+response[i].producto+'</td>'+
					'<td style="text-align: center"> Ver Detalles </td>'+
					'<td style="text-align: center"><a href="#" > Eliminar </a></td>'+
					'</tr>');
				}
			});
		</script>
		

{% endblock %}