{% extends 'base.html' %}

{% block content %}
        
    <h1>Decisor</h1>		
	<form action="/maker/search" method="post"> 
	{% csrf_token %}
	
	<br></br>
		<table style="width:100%"> 
			<thead> 
			<tr>
				<td>
					<input class="btn btn-primary" type="submit" value="Buscar restaurante" />
					<br></br>
				</td>
			</tr>
			</thead> 
			<tbody> 
					<tr> 
						<td>Te recomendamos para el día de hoy comer:</td>
					</tr> 
					<tr>
						<td>Tu presupuesto es de <b>$ {{ respuesta }} </b></td>
					</tr>
			</tbody> 
		</table>
	</form>	
{% endblock %}
